<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
    <title>MyIndexWeather</title>
</head>

<body>
    <h1>Weather</h1>
    <img src="../public/img/weather_storm.jpg">
</body>

</html>