<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    {{!-- Paths must be relative to the directory set up in the condiguration of express-handlebars --}}
    <script src="./js/app.js"></script>
    <title>MyIndexWeatherFromIndex</title>
</head>

<body>
    <h1>Weather from main</h1>
    {{!-- Paths must be relative to the directory set up in the condiguration of express-handlebars --}}
    <img src="./img/weather_storm.jpg">
    <h2>Hello {{name}}</h2>
</body>

</html>