<!DOCTYPE html>
<html>

<head>
    <title>MyAboutFromViewsHbs</title>
</head>

<body>
    {{>header}} {{!-- This is the way to include templates/partials --}}

    <h1>About from a static file</h1>

    {{>footer}}
</body>

</html>