<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    <title>MyErrorPage</title>
</head>

<body>
    {{>header}}

    <h1>{{errorText}}</h1>
    <img src="{{imgSrc}}">
    
    {{>footer}}
</body>

</html>