<!DOCTYPE html>
<html>

<head>
    <title>MyHelpFromViewsHbs</title>
</head>

<body>
    {{>header}} {{!-- This is the way to include templates/partials --}}

    <h1>Help from hbs</h1>

    {{>footer}}
</body>

</html>