<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
    {{!-- Paths must be relative to the directory set up in the condiguration of express-handlebars --}}
    <title>MyIndexWeatherFromIndex</title>
</head>

<body>
    {{>header}} {{!-- This is the way to include templates/partials --}}

    <h1>Weather from index</h1>
    {{!-- Paths must be relative to the directory set up in the condiguration of express-handlebars --}}
    <img src="./img/weather_storm.jpg">
    <h2>Hello {{name}}</h2>

    <form id="idForm">
        <input id="idLocation" placeholder="Location">
        <button>Search</button>
    </form>
    <pre id="idJsonOutput"></pre>

    
    {{>footer}}

    <script src="./js/app.js"></script>
</body>

</html>